[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
ipykernel = "*"
seaborn = "*"
nibabel= "*"
scikit-learn= "*"
Jupyter= "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
plotly = "*"
nilearn = "*"
h5py = "*"
deepdish = "*"
umap-learn = "*"
wordcloud = "*"
xlrd = "*"
openpyxl = "*"
pydra-ml = "*"
imbalanced-learn = "*"
hbn = {editable = true, path = "."}


[requires]
python_version = "3.9.12"
